{% extends 'base.html' %}

{% block title %} {{ orgname }} {% endblock %}

{% block orgname %}
  <a class="navbar-brand" href="{% url 'main:home' userid %}">
  {{ orgname }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'main:home' userid %}">Home</a>
      <a class="nav-item nav-link active" href="{% url 'main:files' userid %}">Files<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'main:help' userid %}">Help</a>
    </div>
  </div>
{% endblock %}
