{% extends 'base.html' %}
{% block title %} {{ orgname }} {% endblock %}

{% block orgname %}
  <a class="navbar-brand" href="{% url 'main:home' userid %}">
  {{ orgname }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'main:home' userid %}">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'main:files' userid %}">Files</a>
      <a class="nav-item nav-link" href="{% url 'main:help' userid %}">Help</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class='columns'>
      <div class='column col-md-12 mb-4'>
        <button id='submit' class='btn btn-success mr-2'>Отправить</button>
        <button id='restore' class='btn'>Сбросить изменения</button>
	<span id='valid_indicator' class='label label-success'></span>  
      </div>
  </div>
  <div class='columns'>
     <div class='column col-md-12' id='editor_holder'></div>
  </div>

  <script type="text/javascript">
      JSONEditor.defaults.theme = 'spectre';
      JSONEditor.defaults.iconlib = 'spectre';
      JSONEditor.defaults.options["show_errors"] = "always";
      JSONEditor.defaults.options["required_by_default"] = 1;
      JSONEditor.defaults.options["no_additional_properties"] = 0;
      JSONEditor.defaults.options["disable_edit_json"] = 1;
      JSONEditor.defaults.options["disable_collapse"] = 0;
      JSONEditor.defaults.options["disable_properties"] = 0;
      JSONEditor.defaults.options["disable_array_add"] = 0;
      JSONEditor.defaults.options["disable_array_reorder"] = 1;
      JSONEditor.defaults.options["disable_array_delete"] = 0;
      JSONEditor.defaults.options["enable_array_copy"] = 1;
      JSONEditor.defaults.options["array_controls_top"] = 1;
      JSONEditor.defaults.options["disable_array_delete_all_rows"] = 1;
      JSONEditor.defaults.options["disable_array_delete_last_row"] = 1;
      JSONEditor.defaults.options["form_name_root"] = "Форма сбора исходных данных";

      // This is the starting value for the editor
      // We will use this to seed the initial editor 
      // and to provide a "Restore to Default" button.
      var with_quot = '{{ json_from_yaml }}';
      var starting_value = JSON.parse(with_quot.replace(/&quot;/g, '\"'));
      
      // Initialize the editor
      var editor = new JSONEditor(document.getElementById('editor_holder'),{
        // Enable fetching schemas via ajax
        ajax: true,
        
        // The schema for the editor
        schema: {
          ref: '{"type":"object","title":"static","required":["item 1"],"properties":{"item 1":{"type":"object","properties":{"dst":{"type":"string","description":"Destination network"},"gw":{"type":"string","description":"Next hop"}}}}}', 
          format: "grid"
        },
        
        // Seed the form with a starting value
        startval: starting_value
      });

     
      document.getElementById('submit').addEventListener('click',function() {
            $.ajax({
                url: "{% url 'main:success' userid %}",
                type: "POST",
                dataType: "json",
		xhrFields: { responseType: "document" },
                data: {
                    url: "{% url 'main:success' userid %}",
                    csrfmiddlewaretoken: '{{ csrf_token }}',
		    "after_edit": JSON.stringify(editor.getValue())
                    },
                success : function(json) {
                    location.reload(true)
                },
		error : function(xhr,errmsg,err) {
		    window.location = "{% url 'main:success' userid %}"
                    //location.reload(true)
		}
                })
            });

      // Hook up the Restore to Default button
      document.getElementById('restore').addEventListener('click',function() {
        editor.setValue(starting_value);
      });
      
      // Hook up the validation indicator to update its 
      // status whenever the editor changes
      editor.on('change',function() {
        // Get an array of errors from the validator
        var errors = editor.validate();
        
        var indicator = document.getElementById('valid_indicator');
        
        // Not valid
        if(errors.length) {
          indicator.className = 'label alert';
          indicator.textContent = 'not valid';
        }
        // Valid
        else {          indicator.className = 'label success';
          indicator.textContent = 'valid';
        }
      });
    </script>
{% endblock %}
