{% extends 'base.html' %}

{% block title %} {{ org_object.company }} {% endblock %}

{% block orgname %}
  <a class="navbar-brand" href="{% url 'main:home' userid %}">
  {{ org_object.company }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" href="{% url 'main:home' userid %}">Home<span class="sr-only">(
current)</span></a>
      {% if org_object.num_conf != 0 %}
        <a class="nav-item nav-link" href="{% url 'main:files' userid %}">Files</a>
      {% endif %}
      {% if org_object.commands != '' %}
        <a class="nav-item nav-link" href="{% url 'main:commands' userid %}">Commands</a>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <style>
  .je-switcher{
     display: none;
     visibility: hidden;
     position: absolute;
     top: 0;
     bottom: 0;
   }
  
   label {
     font-weight: bold;
   }
  
   .required::after {
      /* content: " *";
      color: red;
      font: inherit; */
   }

   h3.card-title {
     display: none !important;
     margin: 0px 0px 0px 0px !important;
   }

   span.btn-group.je-object__controls {
     display: none !important;
   }

   .card.card-body.mb-3.bg-light {
    border: 1px dotted rgba(0,0,0,.125);
    background-color: #fcfcfc !important;
    border-radius: 0;
    /*margin-bottom: 1px !important;*/
   }

 
  </style>
  <div class='columns'>
    <div class='column col-md-12 mb-2'>
      <h4>Заполните поля формы в соответствии с их названиями</h4>
    </div>
    <div class='column col-md-12 mb-4'>
      <p>По завершению заполнения формы сохраните её с использованием кнопки "Отправить" (форма подлежит повторному редактированию). Кнопка "Сбросить изменения" возвращает значения полей формы к варианту последней сохранённой версии (при первом редактировании — к первоначальной).</p>
    </div>
    <div class='column col-md-12 mb-4' id='editor_holder'></div>
    <div class='column col-md-12 mb-4'>
      <button id='submit' class='btn btn-success mr-2'>Отправить</button>
      <button id='restore' class='btn btn-warning'>Сбросить изменения</button>
      <!--span id='valid_indicator' class='label label-success'></span-->  
    </div>
  </div>

  <script type="text/javascript">
      JSONEditor.defaults.theme = 'bootstrap4';
      JSONEditor.defaults.iconlib = 'fontawesome5';
      JSONEditor.defaults.options["show_errors"] = "always";
      JSONEditor.defaults.options["compact"] = 0;
      JSONEditor.defaults.options["required_by_default"] = 1;
      JSONEditor.defaults.options["no_additional_properties"] = 0;
      JSONEditor.defaults.options["disable_edit_json"] = 1;
      JSONEditor.defaults.options["disable_collapse"] = 1;
      JSONEditor.defaults.options["disable_properties"] = 1;
      JSONEditor.defaults.options["disable_array_add"] = 1;
      JSONEditor.defaults.options["disable_array_reorder"] = 1;
      JSONEditor.defaults.options["disable_array_delete"] = 0;
      JSONEditor.defaults.options["enable_array_copy"] = 1;
      JSONEditor.defaults.options["array_controls_top"] = 0;
      JSONEditor.defaults.options["disable_array_delete_all_rows"] = 1;
      JSONEditor.defaults.options["disable_array_delete_last_row"] = 1;
      JSONEditor.defaults.options["object_layout"] = "table";
      JSONEditor.defaults.options["form_name_root"] = "Форма сбора исходных данных";

      // This is the starting value for the editor
      // We will use this to seed the initial editor 
      // and to provide a "Restore to Default" button.
      var starting_value = JSON.parse(JSON.stringify({{ json_from_yaml|safe }}));
     
      // Initialize the editor
      var editor = new JSONEditor(document.getElementById('editor_holder'),{
        // Enable fetching schemas via ajax
        ajax: true,
        
        // The schema for the editor
        schema: {
          schema: {},
          format: "table",
        },
        
        // Seed the form with a starting value
        startval: starting_value
      });

      document.getElementById('submit').addEventListener('click',function() {
          $.ajax({
              url: "{% url 'main:success' userid %}",
              type: "POST",
              dataType: "json",
              xhrFields: { responseType: "document" },
              data: {
                  url: "{% url 'main:success' userid %}",
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                 "after_edit": JSON.stringify(editor.getValue()),
		 "substitutions": JSON.stringify({{ substitutions|safe }})
              },
              success : function(json) {
                window.location = "{% url 'main:success' userid %}"
              },
              error : function(xhr,errmsg,err) {
                window.location = "{% url 'main:success' userid %}"
              }
          })
      });

      // Hook up the Restore to Default button
      document.getElementById('restore').addEventListener('click',function() {
        editor.setValue(starting_value);
      });
      
      // Hook up the validation indicator to update its 
      // status whenever the editor changes
      editor.on('change', function() {
        // Get an array of errors from the validator
        var errors = editor.validate();
        
        var indicator = document.getElementById('valid_indicator');
        
        // Not valid
        /*
        if(errors.length) {
          indicator.className = 'label alert';
          indicator.textContent = 'not valid';
        }
        // Valid
        else {
          indicator.className = 'label success';
          indicator.textContent = 'valid';
        }
        */
      });
    

      // Replacement
      $(document).ready(function () {
        
	substitutions = {{ substitutions|safe }}
	
        for (key in substitutions){
	    $("label").filter(function() {
              return $(this).text() == key;
            }).html(substitutions[key]);
	}

	static_substitutions = {
	  "ip": "IP адрес",
	  "gateway": "Шлюз",
	  "gw": "Шлюз",
	  "default gateway": "Шлюз по умолчанию",
	  "default gw": "Шлюз по умолчанию",
	  "ip_mask": "IP адрес/маска",
	  "network": "Подсеть",
	  "interfaces": "Интерфейсы",
	  "syslog": "Syslog сервер",
    "aaa": "Сервер аутентификации",
	  "ntp": "NTP сервер",
	  "dns1": "Основной DNS сервер",
	  "dns2": "Резервный DNS сервер"
	};
   
        for (key in static_substitutions){
            $("label").filter(function() {
              return $(this).text() == key;
            }).html(static_substitutions[key]);
        };     

	/*
        for (i = 0; i < 100; i++) {   
         $("div[class='card card-body mb-3 bg-light'][data-schemapath$='." + i +"']:contains('item')").css({"background-color": "white !important", "border": "0px"});
        };

        $("label:contains(router)").text(function(index, text) {
            return text.replace('router', 'Router');
        });

        $("label:contains(item)").text(function(index, text) {
            return text.replace('item', '№');
        });
        
        $("label:contains(item)").css("display", "none")
        */

        });
	

    </script>
{% endblock %}
