{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% block content %}
  <form method="post"  enctype="multipart/form-data">
      {% if form.errors %}
        {% for field in form %}
          {% for error in field.errors %}
            <p class="text-danger mt-2">{{ error }} </p>
          {% endfor %}
        {% endfor %}
      {% endif %}
      {% csrf_token %}
       <h6 class="form-text mb-2">Название компании:</h6>
       <div class="col-my-4 mb-4"> {{ form.company }}</div>
       <h6 class="form-text mb-2">Содержимое YAML файла:</h6>
       <div class="form-textarea mb-4"> {{ form.yamldata }}</div>
       <div class="form-group row">
	       <div class="col-sm-5">
       	   <h6 class="form-text mb-2">Количество запрашиваемых конфигурационных файлов (default = 0, max = 10):</h6>
	       </div>
	       <div class="col-sm-2">
           <div class="form-textarea mb-4"> {{ form.num_conf }}</div>
	       </div>
       </div>
       <h6 class="form-text mb-2">К каким устройствам запрашиваются конфиги (опишите в свободной форме):</h6>
       <div class="form-textarea mb-4"> {{ form.comment_conf }}</div>
       <h6 class="form-text mb-2">Команды, которые заказчик должен ввести в CLI каждого из устройств, чтобы потом предоставить их вывод:</h6>
       <div class="form-textarea mb-4"> {{ form.commands }}</div>
       <button type="submit" name="create_form" class="btn btn-success mt-2 mb-4">
            Отправить
       </button>
    </form>
  
 {% endblock %}
