{% extends 'base.html' %}

{% block title %} {{ orgname }} {% endblock %}

{% block orgname %}
  <a class="navbar-brand" href="{% url 'main:home' userid %}">
  {{ orgname }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'main:home' userid %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'main:files' userid %}">Files</a>
      <a class="nav-item nav-link" href="{% url 'main:commands' userid %}">Commands</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-6 text-dark">Ваши данные отправлены. Спасибо</h1>
    <a class="btn btn-secondary mt-4" href="{% url 'main:home' userid %}" role="button">
       Редактировать данные
    </a>
  </div>
{% endblock %}
