{% extends 'base.html' %}

{% block title %} {{ org_object.company }} {% endblock %}

{% block orgname %}
  <a class="navbar-brand" href="{% url 'main:home' orgid %}">
  {{ org_object.company }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'main:home' orgid %}">Home</a>
      {% if org_object.num_conf != 0 %}
        <a class="nav-item nav-link" href="{% url 'main:files' orgid %}">Files</a>
      {% endif %}
      {% if org_object.commands != '' %}
        <a class="nav-item nav-link" href="{% url 'main:commands' orgid %}">Commands</a>
      {% endif %}
      <a class="nav-item nav-link" href="{% url 'main:feedback' orgid %}">Feedback</a>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="jumbotron text-center">
    <h1 class="display-5 text-dark mb-3">Ваши данные отправлены. Спасибо!</h1>
    <p class="lead mb-3">Для улучшения качества портала, пожалуйста, заполните <a class="stretched-link" href="{% url 'main:feedback' orgid %}" role="button">форму обратной связи</a></p>
    <hr>
    <a class="btn btn-secondary" href="{% url 'main:home' orgid %}" role="button">Редактировать данные</a>
  </div>
{% endblock %}
